.top{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.company{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company h3{
    color: white;
}
.company img{
    width: 150px;
    height: 70px;
    
}
.company p{
    color: #8a8987;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    background-color: transparent;
    height: 60px;
    padding: 10px;
    border: 1px solid #39b54a;
    outline: none;
    font-size: 18px;
}
.form ::placeholder{
    color: white;
}
.form button{
    background-color:#39b54a ;
    padding: 10px;
    color: white;
        font-size: 18px;
    border: none;
    border-radius: 3px;
}